In [1]:
from google.colab import drive
drive.mount("/content/drive")

ModuleNotFoundError: No module named 'google.colab'

In [ ]:
from google.colab import files
uploaded=files.upload()

# Importing Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter('ignore')
import seaborn as sns
pd.set_option("max_columns",None)

In [2]:
from sklearn.naive_bayes import GaussianNB , BernoulliNB # 2 şey için
from sklearn.naive_bayes import MultinomialNB# 3 ve daha fazla için
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import GradientBoostingClassifier,ExtraTreesClassifier,RandomForestClassifier
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [ ]:
df=pd.read_csv("LoansTrainingSet.csv")

# EDA

In [ ]:
df.sample(50)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
sns.countplot(x="Loan Status",data=df)

# Feature engineering

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.shape

In [ ]:
df.head(15)

In [ ]:
df["Loan Status"].unique()

In [ ]:
df["Loan Status"]=np.where(df["Loan Status"]=="Fully Paid",1,-1)

In [ ]:
df["Customer ID"].nunique()

In [ ]:
"""cusid=df["Customer ID"].unique()
liste1=[]
liste2=[]
liste3=[]
for i in range(df["Customer ID"].nunique()): 
    liste1.append(cusid[i])
    liste2.append(i)
for a in df.index:    
    b=liste1.index(df["Customer ID"][a])
    liste3.append(liste2[b])
   """

In [ ]:
#df["Customer ID"]=liste3

In [ ]:
"""cusid=df["Loan ID"].unique()
liste1=[]
liste2=[]
liste3=[]
for i in range(df["Loan ID"].nunique()): 
    liste1.append(cusid[i])
    liste2.append(i)
for a in df.index:    
    b=liste1.index(df["Loan ID"][a])
    liste3.append(liste2[b])
        """

In [ ]:
#df["Loan ID"]=liste3

In [ ]:
df.head(50)

In [ ]:
#df.to_csv("loanpredictahmet.csv")

In [3]:
df=pd.read_csv("loanpredictahmet.csv")

In [4]:
df.head()

,Unnamed: 0,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,0,0,0,1,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,1,1,1,1,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,2,2,2,1,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,3,3,3,1,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,4,4,4,1,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [5]:
df["TotalLoan"]=df["Current Loan Amount"]+df["Current Credit Balance"]

In [6]:
df['Year_Job'] = df['Years in current job'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)

In [7]:
df["Loan Status"]=np.where(df["Loan Status"]==1,1,0)

In [8]:
df["Monthly Debt"].head()

0       $584.03
1    $1,106.04
2    $1,321.85
3       $751.92
4       $355.18
Name: Monthly Debt, dtype: object

In [9]:
df['Monthly Debt'] = df['Monthly Debt'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(float)/100

In [10]:
df['Maximum Open Credit'] = df['Maximum Open Credit'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(float)

In [11]:
df["Purpose"].unique()

array(['Debt Consolidation', 'other', 'Business Loan',
       'Home Improvements', 'Buy House', 'Other', 'Buy a Car',
       'Medical Bills', 'Take a Trip', 'Educational Expenses'],
      dtype=object)

In [12]:
df["Purpose"].replace("other","Other",inplace=True)

In [13]:
df["Purpose"].value_counts()

Debt Consolidation      190656
Other                    22336
Home Improvements        14106
Business Loan             4275
Buy a Car                 3150
Medical Bills             2687
Take a Trip               1467
Buy House                 1445
Educational Expenses       252
Name: Purpose, dtype: int64

# Fillna

In [14]:
df=df.drop(["Years in current job","Unnamed: 0"],axis=1)

In [15]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     59346
Home Ownership                       0
Annual Income                    59346
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    131427
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  4
Bankruptcies                       492
Tax Liens                           23
TotalLoan                            0
Year_Job                         10444
dtype: int64

In [16]:
df["Tax Liens"].value_counts()

0.0     236037
1.0       3055
2.0        811
3.0        223
4.0        116
5.0         54
6.0         28
9.0          8
8.0          8
7.0          6
10.0         3
11.0         2
Name: Tax Liens, dtype: int64

In [17]:
df["Tax Liens"]=df["Tax Liens"].fillna(0.0)

In [18]:
df["Maximum Open Credit"].value_counts()

0.0         1726
16303.0       20
5981.0        19
10198.0       19
10044.0       19
            ...
190299.0       1
36584.0        1
2476.0         1
255894.0       1
62371.0        1
Name: Maximum Open Credit, Length: 68986, dtype: int64

In [19]:
df["Maximum Open Credit"]=df["Maximum Open Credit"].fillna(0.0)

In [20]:
df["Bankruptcies"].value_counts()

0.0    214858
1.0     23906
2.0       902
3.0       168
4.0        29
5.0        15
6.0         3
7.0         1
Name: Bankruptcies, dtype: int64

In [21]:
df["Bankruptcies"]=df["Bankruptcies"].fillna(0.0)

In [22]:
df['Annual Income'].fillna(df.groupby("Purpose")["Annual Income"].transform("median"),inplace=True)
df['Credit Score'].fillna(df.groupby("Purpose")["Credit Score"].transform("median"),inplace=True)
df['Year_Job'].fillna(df.groupby("Purpose")["Year_Job"].transform("median"),inplace=True)
df['Annual Income'].fillna(df.groupby("Purpose")["Annual Income"].transform("median"),inplace=True)
df['Credit Score'].fillna(df.groupby("Purpose")["Credit Score"].transform("median"),inplace=True)
df['Credit Score'].fillna(df.groupby("Purpose")["Credit Score"].transform("median"),inplace=True)
df['Year_Job'].fillna(df.groupby("Purpose")["Year_Job"].transform("median"),inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240374 entries, 0 to 240373
Data columns (total 20 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       240374 non-null  int64
 1   Customer ID                   240374 non-null  int64
 2   Loan Status                   240374 non-null  int32
 3   Current Loan Amount           240374 non-null  int64
 4   Term                          240374 non-null  object
 5   Credit Score                  240374 non-null  float64
 6   Home Ownership                240374 non-null  object
 7   Annual Income                 240374 non-null  float64
 8   Purpose                       240374 non-null  object
 9   Monthly Debt                  240374 non-null  float64
 10  Years of Credit History       240374 non-null  float64
 11  Months since last delinquent  108947 non-null  float64
 12  Number of Open Accounts       240374 non-null  int64
 13  Number of Credit Problems     240374 non-null  int64
 14  Current Credit Balance        240374 non-null  int64
 15  Maximum Open Credit           240374 non-null  float64
 16  Bankruptcies                  240374 non-null  float64
 17  Tax Liens                     240374 non-null  float64
 18  TotalLoan                     240374 non-null  int64
 19  Year_Job                      240374 non-null  float64
dtypes: float64(9), int32(1), int64(7), object(3)
memory usage: 35.8+ MB

In [24]:
df=pd.get_dummies(df,drop_first=True)

## REGRESSION TO "Months since last delinquent"

In [25]:
bos=df[df["Months since last delinquent"].isnull()]
dolu=df[df["Months since last delinquent"].notnull()]

In [26]:
z=bos.drop("Months since last delinquent",axis=1)

In [27]:
x=dolu.drop("Months since last delinquent",axis=1)
y=dolu["Months since last delinquent"]

In [28]:
from sklearn.linear_model import LinearRegression  ,Ridge ,Lasso,ElasticNet
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.model_selection import train_test_split

In [29]:
lr = LinearRegression()
R=Ridge()
L=Lasso()
E=ElasticNet(l1_ratio=0.8)
ETR=ExtraTreeRegressor()
GBR=GradientBoostingRegressor()
KNR=KNeighborsRegressor(n_neighbors=10,weights="uniform")

In [30]:
lr.fit(x,y)
y_pred=lr.predict(z)

In [31]:
bos["Months since last delinquent"]=y_pred

In [32]:
df=dolu.append(bos)

In [33]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,TotalLoan,Year_Job,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,0,0,1,11520,741.0,33694.0,584.03,12.3,41.0,10,0,6760,16056.0,0.0,0.0,18280,10.0,1,1,0,0,0,0,1,0,0,0,0,0
6,6,6,0,24613,6640.0,49225.0,542.29,17.6,73.0,7,0,14123,16954.0,0.0,0.0,38736,6.0,0,0,0,1,0,0,0,0,0,0,0,0
7,6,6,0,24613,725.0,70301.0,542.29,17.6,73.0,7,0,14123,16954.0,0.0,0.0,38736,6.0,0,0,0,1,0,0,0,0,0,0,0,0
9,8,8,1,2036,733.0,55985.0,741.79,19.8,29.0,7,0,10926,15676.0,0.0,0.0,12962,6.0,1,1,0,0,0,0,1,0,0,0,0,0
12,11,11,0,17980,734.0,61417.0,597.50,9.9,43.0,7,0,6817,22800.0,0.0,0.0,24797,1.0,1,0,1,0,0,0,1,0,0,0,0,0

In [34]:
df.isnull().sum()

Loan ID                         0
Customer ID                     0
Loan Status                     0
Current Loan Amount             0
Credit Score                    0
Annual Income                   0
Monthly Debt                    0
Years of Credit History         0
Months since last delinquent    0
Number of Open Accounts         0
Number of Credit Problems       0
Current Credit Balance          0
Maximum Open Credit             0
Bankruptcies                    0
Tax Liens                       0
TotalLoan                       0
Year_Job                        0
Term_Short Term                 0
Home Ownership_Home Mortgage    0
Home Ownership_Own Home         0
Home Ownership_Rent             0
Purpose_Buy House               0
Purpose_Buy a Car               0
Purpose_Debt Consolidation      0
Purpose_Educational Expenses    0
Purpose_Home Improvements       0
Purpose_Medical Bills           0
Purpose_Other                   0
Purpose_Take a Trip             0
dtype: int64

# split fit predict

In [35]:
g=GaussianNB()
b=BernoulliNB()
k=KNeighborsClassifier()
d=DecisionTreeClassifier()
gbc=GradientBoostingClassifier()
log=LogisticRegression()

In [36]:
x=df.drop("Loan Status",axis=1)
y=df["Loan Status"]

In [37]:
col=x.columns

In [38]:
from sklearn.preprocessing import MinMaxScaler
mms= MinMaxScaler()
x_scaled= mms.fit_transform(x)
x= pd.DataFrame(x_scaled,columns=col)
x.head()

,Loan ID,Customer ID,Current Loan Amount,Credit Score,Annual Income,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens,TotalLoan,Year_Job,Term_Short Term,Home Ownership_Home Mortgage,Home Ownership_Own Home,Home Ownership_Rent,Purpose_Buy House,Purpose_Buy a Car,Purpose_Debt Consolidation,Purpose_Educational Expenses,Purpose_Home Improvements,Purpose_Medical Bills,Purpose_Other,Purpose_Take a Trip
0,0.000000,0.000000,0.000110,0.022527,0.003867,0.025460,0.132638,0.476219,0.131579,0.0,0.003904,0.000091,0.0,0.0,0.000176,1.000000,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.000028,0.000028,0.000241,0.874368,0.005649,0.023640,0.211624,0.600375,0.092105,0.0,0.008157,0.000096,0.0,0.0,0.000380,0.555556,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000028,0.000028,0.000241,0.020217,0.008068,0.023640,0.211624,0.600375,0.092105,0.0,0.008157,0.000096,0.0,0.0,0.000380,0.555556,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000037,0.000037,0.000015,0.021372,0.006425,0.032337,0.244411,0.429661,0.092105,0.0,0.006310,0.000089,0.0,0.0,0.000124,0.555556,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.000051,0.000051,0.000175,0.021516,0.007048,0.026047,0.096870,0.483979,0.092105,0.0,0.003937,0.000129,0.0,0.0,0.000241,0.000000,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=42)

In [40]:
#önce yukarda olduğu gibi tanımlamak lazım
algorithms = [g,b,k,d,gbc,log]
names = ['GaussianNB', 'BernoulliNB', 'K Nearest', 'Single Tree',  'Gradient Boost',"Logistic"]

In [41]:
def evaluate_model():
    # fit the data
    for i in range(len(algorithms)):
        algorithms[i] = algorithms[i].fit(x_train, y_train)
    # print metrics 
    accuracy = []
    precision = []
    recall = []
    f1 = []
    for i in range(len(algorithms)):
        if accuracy_score(y_test, algorithms[i].predict(x_test)) == 1:
            accuracy.append(0)
        else:   
            accuracy.append(accuracy_score(y_test, algorithms[i].predict(x_test)))
        if precision_score(y_test, algorithms[i].predict(x_test)) == 1:
            precision.append(0)
        else:   
            precision.append(precision_score(y_test, algorithms[i].predict(x_test)))
        if recall_score(y_test, algorithms[i].predict(x_test)) == 1:
            recall.append(0)
        else:   
            recall.append(recall_score(y_test, algorithms[i].predict(x_test)))
        if f1_score(y_test, algorithms[i].predict(x_test)) == 1:
            f1.append(0)
        else:   
            f1.append(f1_score(y_test, algorithms[i].predict(x_test)))
    metrics = pd.DataFrame(columns = ['Accuracy', 'Precision', 'Recall', 'F1'], index = names)
    metrics['Accuracy'] = accuracy
    metrics['Precision'] = precision
    metrics['Recall'] = recall
    metrics['F1'] = f1
    return metrics.sort_values('Accuracy', ascending = False)

In [42]:
evaluate_model()

                Accuracy  Precision    Recall        F1
Gradient Boost  0.820931   0.815434  0.976799  0.888852
Single Tree     0.820797   0.882180  0.871986  0.877054
Logistic        0.793590   0.783140  0.993530  0.875878
K Nearest       0.765051   0.807117  0.892849  0.847821
BernoulliNB     0.732669   0.733321  0.998365  0.845560
GaussianNB      0.421756   0.982467  0.214983  0.352772

In [43]:
df=pd.read_clipboard()

In [44]:
df.to_csv("results.csv")

In [45]:
df

                      Accuracy  Precision    Recall        F1
Gradient    Boost     0.820931   0.815434  0.976799  0.888852
Single      Tree      0.820797   0.882180  0.871986  0.877054
Logistic    0.793590  0.783140   0.993530  0.875878       NaN
K           Nearest   0.765051   0.807117  0.892849  0.847821
BernoulliNB 0.732669  0.733321   0.998365  0.845560       NaN
GaussianNB  0.421756  0.982467   0.214983  0.352772       NaN

In [40]:
model=g.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.4217559157320198,
 0.9824670608984335,
 0.21498297389330306,
 0.35277244873251506)

In [41]:
model=b.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.7326688188504676, 0.733321105200847, 0.9983654937570942, 0.8455600311475566)

In [42]:
model=k.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.7650514194428728,
 0.8071169119005109,
 0.8928490351872872,
 0.8478211664277476)

In [43]:
model=d.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.822062102705761, 0.8818075681615274, 0.874460839954597, 0.8781188378375298)

In [44]:
model=gbc.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.8209305421506307,
 0.8154338886046203,
 0.9767990919409761,
 0.8888521643926169)

In [45]:
model=log.fit(x_train,y_train)
y_pred=model.predict(x_test)
accuracy_score(y_test,y_pred),precision_score(y_test,y_pred),recall_score(y_test,y_pred),f1_score(y_test,y_pred)

(0.7935900422671148, 0.783140075871448, 0.9935300794551646, 0.8758780795324914)